* {
  margin: 0;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
}
table, th, td {
 border: 2px solid black;
}
table {
  margin-top: 20px;
  margin-left: 10%;
  width: 80%;
  border-collapse: collapse;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th {
  text-align: left;
  background-color: black;
  color: white;
}
tr:hover { 
  background: grey; 
}
tr:active { 
  background: blue; 
}
.guide-table tr td:nth-child(1) {
  display: none;
}
.crag-table tr td:nth-child(1) {
  display: none;
}
.topo-table tr td:nth-child(1) {
  display: none;
}
button {
  width: 20%;
  background-color: black;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label, input {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topo-image {
  align-content: center;
  width: 95%;
}
.header {
  width:100%;
  color:white;
  background-color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}
.sub-header {
  width:100%;
  color:white;
  background-color:grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  font-weight: bold;
}
.edit-buttons {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}
.route-checkbox-header {
  width: 50px;
  margin: auto;
}
.route-checkbox {
  width: 50px;
  margin: auto;
}
.topo-command-button {
  width: 20%;
  height: 50px;
  margin-top: 10px;
}
#create-guide-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  height: 100px;
  margin-top: -50px;
}
