* {
  margin: 0;
  padding: 0;
}
div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
table, th, td {
 border: 2px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  width: 50%;
  background-color: black;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th {
  text-align: left;
  background-color: black;
  color: white;
}
.topo_image {
  align-content: center;
}
.header {
  width:100%;
  color:white;
  background-color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}
