* {
  margin: 0;
  padding: 0;
}
div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
table, th, td {
 border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}
th {
  text-align: left;
  background-color: brown;
  color: white;
}
.topo_image {
  align-content: center;
}
